/* global rules  */
:root {
  --main-color: #b94a3e;
  --second-color: #121b22;
  --alternative-clr: #204254;
  --main-font: "Roboto", sans-serif;
  --second-font: "Roboto Slab", serif;
}
body {
  font-family: var(--main-font);
}
a {
  font-family: var(--second-font);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end rules  */
/* start nav  */
.up-head {
  background-color: var(--main-color);
  color: white;
}
.up-head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}
.up-head .container p span {
  font-family: var(--second-font);
  color: black;
}
.up-head .container .icons {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .up-head .container {
    justify-content: center;
  }
  .up-head .container p {
    display: none;
  }
}
.up-head .container .icons i {
  transition: 0.3s;
}
.up-head .container .icons i:hover {
  color: black;
  transform: scale(1.2);
}
/* end nav  */
/* start header  */
.landing {
  background-image: url("../images/landing\ page\ self-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
video {
  position: absolute;
}
header {
  background-color: rgba(250, 250, 250, 0.1);
  position: sticky;
}
header .container {
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo a {
  font-size: 30px;
  color: white;
  animation-name: clr-logo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes clr-logo {
  0%,
  100% {
    color: white;
    font-weight: normal;
  }
  50% {
    color: var(--main-color);
    font-weight: bold;
  }
}
header .container .menu i {
  color: white;
  font-size: 25px;
  display: none;
}
header .container nav ul {
  display: flex;
  gap: 35px;
}
header .container nav ul li a {
  color: white;
  transition: 0.3s;
}
header .container nav ul li {
  transition: 0.3s;
}
header .container nav ul li a:hover {
  color: var(--main-color);
}

@media (max-width: 991px) {
  header .container .menu i {
    display: block;
  }
  header .container nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
  }
  header .container .menu-nav:hover ul {
    display: block;
  }
  header .menu-nav li:hover {
    background-color: var(--second-color);
  }
  header .menu-nav li {
    padding-block: 10px;
  }
  header .menu-nav li:hover a {
    color: var(--main-color);
  }
}
/* end header  */
/* start land page  */
.land-page {
  position: relative;
  padding-top: 80px;
  color: white;
}
.text {
  width: 50%;
  max-width: 100%;
}
.land-page .container h1 {
  margin: 20px 0;
  font-size: 35px;
  font-weight: 900;
}
@media (max-width: 991px) {
  .text {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .land-page .container h1 {
    font-size: 25px;
  }
}
.land-page .container p {
  margin-bottom: 25px;
  line-height: 1.5;
}
.land-page .container p span {
  color: var(--second-color);
}
.land-page .container button {
  background-color: var(--alternative-clr);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.8em 2em;
  transition: 0.3s;
}
.land-page .container button:hover {
  background-color: var(--main-color);
  padding: 0.8em 2.5em;
  font-weight: bold;
  border-radius: 5px 25px;
}
/* end land page  */
/* start cards  */
.cards {
  padding-top: 50px;
  position: relative;
}

.cards .container .content-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 25px;
}
.cards .container .content-card .card {
  text-align: center;
  background-color: var(--main-color);
  color: white;
  padding: 50px;
  border-radius: 15px;
  background-image: url("../images/service-item-bg-min.jpg");
}
.cards .container .content-card .card:hover {
  box-shadow: 0 0 15px #777;
}
.cards .container .content-card .card h2 {
  font-weight: bold;
  margin: 15px 0;
}
.cards .container .content-card .card p {
  line-height: 1.5;
}
/* end cards  */
/* start next  */
.next {
  background-color: var(--second-color);
  padding: 200px 0 30px;
}
@media (max-width: 1120px) {
  .next {
    padding-top: 500px;
  }
}
@media (max-width: 768px) {
  .next {
    padding-top: 750px;
  }
}
.next .container h1 {
  text-align: center;
  color: white;
}
.next .container hr {
  margin: 50px 0;
  border: none;
  border: 0.03rem solid #777;
}
.next .container .next-content {
  display: flex;
  gap: 80px;
}
.next .container .next-content .categories {
  background-color: white;
  padding: 40px 80px 40px 50px;
  border-radius: 20px;
  height: 450px;
}

.next .container .next-content .categories h2 {
  font-size: 20px;
  padding-bottom: 30px;
}
.next .container .next-content .categories ul {
  padding: 30px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.next .container .next-content .categories ul li:not(:first-child) {
  padding-top: 15px;
}
.next .container .next-content .categories ul li a {
  color: black;
}
.next .container .next-content .categories button {
  margin-top: 30px;
  margin-left: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 0.8em 1.6em;
  border-radius: 5px 20px;
}

.grid-meeting {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 40px 25px;
}
@media (max-width: 991px) {
  .next .container .next-content .categories {
    height: fit-content;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .next .container .next-content {
    flex-wrap: wrap;
  }
  .next .container .next-content .categories {
    width: 50%;
    margin: 0 auto;
  }
  .grid-meeting {
    width: 100%;
  }
}
.grid-meeting .card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 375px) {
  .next .container .next-content .categories {
    width: 100%;
  }
}

.grid-meeting .card span {
  position: absolute;
  color: white;
  background-color: var(--alternative-clr);
  border-radius: 10px;
  padding: 10px;
  top: 10px;
  left: 10px;
}
.grid-meeting .card img {
  max-width: 100%;
}
.tall {
  height: fit-content;
}
.tall .foot {
  display: flex;
  gap: 20px;
}
.grid-meeting .card .foot {
  background-color: white;
  padding: 15px;
}
.grid-meeting .short .foot .text-card {
  text-align: left;
}
.grid-meeting .card .foot .text-card h3 {
  padding-bottom: 20px;
}
.grid-meeting .short .foot .text-card p {
  text-align: center;
}

.grid-meeting .card .date p:first-child {
  color: var(--main-color);
  font-weight: bold;
}
.grid-meeting .card .date p {
  padding-bottom: 10px;
}

.grid-meeting .card .text-card p {
  line-height: 1.5;
}
/* end next  */
/* start apply  */
.apply {
  background-color: var(--alternative-clr);
  background-image: url("../images/landing\ page\ self-min.jpg");
  background-size: cover;
  padding: 50px 0;
}
.apply .container {
  display: flex;
  gap: 50px;
}
.apply .container .left-side {
  color: white;
  width: 50%;
  margin-top: 50px;
}
.apply .container .left-side h3 {
  font-size: 30px;
}
.apply .container .left-side p {
  line-height: 1.8;
  margin: 25px 0;
}
.apply .container .left-side button {
  background-color: var(--main-color);
  color: white;
  padding: 0.8em 1.6em;
  border-radius: 20px;
  border: none;
}
.apply .container .left-side .up,
.apply .container .left-side .down {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid black;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 25px;
  color: black;
}

.right-side {
  width: 50%;
  background-color: white;
  padding: 45px;
  border-radius: 25px;
  border: 2px solid black;
}
@media (max-width: 767px) {
  .container {
    flex-wrap: wrap;
  }
  .right-side,
  .apply .container .left-side {
    width: 100%;
  }
  .apply .container .left-side {
    text-align: center;
  }
}
.right-side .content h4 {
  padding: 20px 0 10px;
  text-transform: uppercase;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 10px;
  width: fit-content;
}
.right-side .content p {
  padding-left: 30px;
  line-height: 1.5;
  color: #666;
}
/* end apply  */
/* start popular  */
.Popular {
  background-color: var(--alternative-clr);
  padding: 100px 0;
}
.Popular .container h1 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 25px;
}
.Popular .container .popular-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.Popular .container .popular-cards .card img {
  max-width: 100%;
  width: 100%;
}
.Popular .container .popular-cards .card .foot {
  background-color: white;
  padding: 10px;
}
.Popular .container .popular-cards .card h2 {
  padding: 1.2em;
  text-align: center;
  font-weight: normal;
}
.Popular .container .popular-cards .card .foot .icon {
  color: #f5a425;
  display: inline;
}
.Popular .container .popular-cards .card .foot span {
  float: right;
}
/* end popular  */
/* start contact  */
.contact {
  background-color: var(--second-color);
  padding: 100px 0;
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
.contact .container .form {
  background-color: white;
  padding: 30px;
  width: 70%;
  border-radius: 20px;
}
.contact .container .form h1 {
  padding-bottom: 30px;
}
.contact .container .form form {
  border-top: 1px solid black;
  padding-top: 30px;
}
.contact .container .form .inline-input {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.contact .container .form .inline-input input,
.contact .container .form textarea {
  padding: 1em;
  border-radius: 20px;
  border: none;
  background-color: #f7f7f7;
}
.contact .container .form .inline-input input {
  width: calc(97% / 3);
}
.contact .container .form textarea {
  width: 100%;
  height: 150px;
}
.contact .container .form form input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 1em 1.5em;
  border-radius: 20px;
  margin-top: 15px;
}

.info {
  background-color: var(--main-color);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 25%;
  border-radius: 20px;
}
.info div:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .contact {
    padding-bottom: 50px;
  }
  .contact .container .form {
    width: 100%;
  }
  .info {
    width: 100%;
    margin: 20px auto 0;
  }
  .info div:not(:last-child) {
    border-bottom: none;
  }
}
.info .phone p:last-child,
.info .address p:last-child,
.info .website p:last-child,
.info .website p:last-child {
  font-weight: bold;
  font-size: 20px;
}

/* end contact  */
/* start footer  */
.footer {
  background-color: var(--second-color);
  padding: 50px;
  color: white;
  text-align: center;
}
.footer p:last-child {
  padding-top: 20px;
}
.footer p:last-child span {
  color: var(--main-color);
  font-weight: bold;
}
/* end footer  */
