@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ln4oqm');
  src:  url('fonts/icomoon.eot?ln4oqm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ln4oqm') format('truetype'),
    url('fonts/icomoon.woff?ln4oqm') format('woff'),
    url('fonts/icomoon.svg?ln4oqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e901";
}
.icon-behance:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e903";
}
